{{> mainh}}<br><br>
 <div class="container-fluid">
 <div style = "text-align: center">
<h2 >{{title}}</h2>
<br><br>
<p>
This page does not exist. Please check the link again to be sure
</p>
</div>
</div>
{{> mainf}}