<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cheap Web scripts without bugs... you cannot get it anywhere else." />
	<meta name="keywords" content="mlm, mlm scripts, free mlm scripts, cheap mlm scripts, best mlm scripts />
	<meta name="author" content="cheapwebscripts.xyz" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						
							<div id="fh5co-logo"><a href="/">CHEAP WEB SCRIPTS</a></div>
						
					</div>
					<div class="col-xs-8 text-right menu-1">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/products">Products</a></li>
							<li>
								<a href="/faq">FAQ</a>
									<li><a href="#about">About Us</a></li>
									<li><a href="#contact">Contact Us</a></li>
									<li><a href="/news">NEWS</a></li>
									{{#if isAuthenticated}}
									<li class="btn-cta"><a href="/logout"><span>Log Out</span></a></li>
									<li class="btn-cta"><a href="/dashboard"><span>Dashboard</span></a></li>
									{{else}}
									<li><a href="/register">REGISTER</a></li>
							</li>
							<li><a href="/login">LOG IN</a></li>
							{{/if}}
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>